html, body {
    margin: 0;
    height: 100%;
}
p {
    margin-block-start: 0;
    text-indent: 1rem;
}

#root {
    display: flex;
}

#main-page {
    flex-grow: 1;
}
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-right: 1px solid lightgrey;
}

.sidebar > a {
    margin: 0.5rem 0;
}
.page-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.align-center {
    align-items: center;
}
